/* With Hex codes there are about 16 million colors to choose from.
The digit 0 is the lowest number in the hex code and represent complete absence of color.
The digit F is the highest number in the hex code and represent the maxium possible brightness. */

<style>
  .red-text {
    color: 	#FF0000;
  }
  .green-text {
    color: #00FF00;
  }
  .dodger-blue-text {
    color: #1E90FF;
  }
  .orange-text {
    color: #FFA500;
  }
</style>

<h1 class="red-text">I am red!</h1>

<h1 class="green-text">I am green!</h1>

<h1 class="dodger-blue-text">I am dodger blue!</h1>

<h1 class="orange-text">I am orange!</h1>
